<!-- 
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Exam Full App Flutter
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong> {{util.translate('General')}} </strong> {{util.translate('Informations')}}
                </div>
                <div class="card-body">

                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('App Name')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="name" [placeholder]="util.translate('App Name')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('Contact No')}}</label>
                                    <input type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="mobile" [placeholder]="util.translate('Contact No')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('Contact Email')}}</label>
                                    <input type="email" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="email" [placeholder]="util.translate('Contact Email')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('Address')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="address" [placeholder]="util.translate('Address')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('City')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="city" [placeholder]="util.translate('City')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('State')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="state" [placeholder]="util.translate('State')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('Zip')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="zip" [placeholder]="util.translate('Zip')">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{util.translate('Country')}}</label>
                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="country" [placeholder]="util.translate('Country')">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>{{util.translate('FCM Token')}}</label>
                                    <textarea type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="fcm_token" [placeholder]="util.translate('FCM Token')"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="saveChanges()"><i
                            class="fa fa-dot-circle-o"></i>
                        {{util.translate('Submit')}} </button>

                </div>
            </div>
        </div>
    </div>
</div>